node_modules
.env
.DS_Store
tmp
infrastructure/terraform/environments/dev/.terraform/modules/modules.json
infrastructure/terraform/environments/dev/.terraform.lock.hcl
infrastructure/terraform/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/LICENSE.txt
infrastructure/terraform/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/terraform-provider-aws_v5.100.0_x5
infrastructure/terraform/environments/dev/tfplan
infrastructure/terraform/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/darwin_arm64/terraform-provider-helm_v2.17.0_x5
infrastructure/terraform/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/darwin_arm64/LICENSE.txt
infrastructure/terraform/environments/dev/.terraform/terraform.tfstate
infrastructure/terraform/.remote-state-setup
infrastructure/terraform/environments/dev/aws-iam-authenticator
AWSCLIV2.pkg
AWSCLIV2.pkg
Zea.Test.Back/.venv
Zea.Test.Back/certs